<VirtualHost *:80>
        ServerAdmin {{ project_admin_email }}
        ServerName {{ project_domain }}
        DocumentRoot /var/www/html/{{ project_name }}/web

        <Directory /var/www/html/{{ project_name }}/web/>
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <FilesMatch "\.php$">
            # If you are using a Unix socket, use the following format,
            # rewriting the path to the socket to match your php-fpm configuration
            SetHandler "proxy:unix:/run/php/php8.5-fpm.sock|fcgi://localhost/"
        </FilesMatch>

</VirtualHost>
